<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Cosmetix</title>
  <link rel="stylesheet" href="{{url_for('static', filename='assets/bootstrap/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
  <link rel="stylesheet" href="{{url_for('static', filename='assets/fonts/ionicons.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='assets/css/Contact-Form-Clean.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='assets/css/Footer-Basic.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='assets/css/Header-Blue.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='assets/css/Highlight-Blue.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='assets/css/Highlight-Phone.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
  <link rel="stylesheet" href="{{url_for('static', filename='assets/css/Login-Form-Clean.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='assets/css/Login-Form-Dark.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='assets/css/Navigation-with-Button.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='assets/css/Registration-Form-with-Photo.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='assets/css/Simple-Slider.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='assets/css/styles.css')}}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
  <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
    <div class="container"><a class="navbar-brand" href="/">Cosmetix</a><button data-toggle="collapse"
        class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav mr-auto">
          <li class="nav-item" role="presentation"></li>
          <li class="nav-item" role="presentation"></li>
        </ul>
        <span class="navbar-text actions">
          <a class="login">
            {% if session['role'] %}
            {{session['role'].capitalize()}} - {{session['email']}}
            {% endif %}
          </a>
          {% if not session['role'] %}
          <a class="login" href="/buyer_login">&nbsp;Log In</a>
          <a class="btn btn-light action-button" role="button" href="/buyer_new">Sign Up</a>
          {% endif %}
          {% if session['role']== 'buyer' %}
          <a class="login" href="/buyer_dash">&nbsp;Your Cart</a>
          {% endif %}
          {% if session['role']== 'seller' %}
          <a class="login" href="/seller_dash">Seller Dashboard</a>
          {% endif %}
          {% if session['role'] %}
          <a class="btn btn-light action-button" role="button" href="/" id="logout-button">Log Out</a>
          {% endif %}
        </span>
      </div>
    </div>
  </nav>
  <div style="padding: 26px;">
    <h3 class="text-center" style="padding: 2px;">&nbsp;Unapproved Products</h3>
    <div class="container">
      <div class="row" id="u-prodrow">
        <template id="u-ptemplate">
          <div class="col-md-4">
            <strong id="u-name" class="pname">name</strong><br>
            <h6 id="u-category"></h6>
            <img id="u-image" width="100"
              src="https://www.christinamossnaturals.com/wp-content/uploads/2016/11/Hair-Mask-1.jpg"></img>
            <i id="u-price" class="price">500</i>
            <i id="u-quantity">0</i>
            <p id="u-description" class="pdesc">sadasd</p>
            <p id="u-seller" class="pdesc">seller name</p>
            <button class="abut btn btn-light">Approve</button>
          </div>
        </template>
      </div>
    </div>
  </div>
  <div style="padding: 26px;">
    <h3 class="text-center" style="padding: 2px;">&nbsp;Listed Products</h3>
    <div class="container">
      <div class="row" id="a-prodrow">
        <template id="a-ptemplate">
          <div class="col-md-4">
            <strong id="a-name" class="pname">name</strong><br>
            <h6 id="a-category"></h6>
            <img id="a-image" width="100"
              src="https://www.christinamossnaturals.com/wp-content/uploads/2016/11/Hair-Mask-1.jpg"></img>
            <i id="a-price" class="price">500</i>
            <i id="a-quantity">0</i>
            <p id="a-description" class="pdesc">sadasd</p>
            <p id="a-seller" class="pdesc">seller name</p>
            <button class="dbut btn btn-light">Delete</button>
          </div>
        </template>
      </div>
    </div>
  </div>
  <div class="footer-basic">
    <footer>
      <div class="social"><a href="https://www.instagram.com/srujandeshpande/"><i
            class="icon ion-social-instagram"></i></a><a href="https://www.linkedin.com/in/srujandeshpande/"><i
            class="icon ion-social-linkedin"></i></a><a href="https://srujandeshpande.tech"><i
            class="icon ion-android-compass"></i></a></div>
      <p class="copyright">Cosmetix © 2021</p>
    </footer>
  </div>
  <script src="{{url_for('static', filename='assets/js/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/bootstrap/js/bootstrap.min.js')}}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
  <script src="{{url_for('static', filename='assets/js/Simple-Slider.js')}}"></script>
  <script src="{{url_for('static', filename='js/admindash.js')}}"></script>
  <script src="{{url_for('static', filename='js/logout.js')}}"></script>
</body>

</html>
